<launch>
	<param name="robot_description" command="$(find xacro)/xacro --inorder '$(find hex_description)/urdf/hex.urdf.xacro'" />

<rosparam command="load" file="$(find hex_description)/urdf/body.yaml" />

	

	
<!--
	<param name="use_gui" value="true"/>
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/> 


	<node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" >
	<param name="publish_frequency" value="100.0"/>
	<param name="ignore_timestamp" value="true"/>
	</node>



	<node name="rviz" pkg="rviz" type="rviz"></node>
-->

</launch>	
